<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>

  <div class="grid">
    {% include aside.html %}

    <main>
      <header>
        {% include previous-next-links.html %}
      </header>
      <article>
        <header>
          {% if page.title %}
          <h1 id="top">{{ page.title }}</h1>
          {% endif %}

          {% if page.author %}
          {% assign authors = page.author | split: "," %}
          <div class="author">
            {% for author in authors %}
              {% assign author_parts = author | strip | split: ":" %}
              {% assign author_name = author_parts[0] %}
              {% if author_parts[1] %}
                {% assign author_pic = author_parts[1] %}
              {% else %}
                {% assign author_pic = author_name %}
              {% endif %}
              <img src="https://retroachievements.org/UserPic/{{ author_pic }}.png" alt="{{ author_name }}">
            {% endfor %}
            <span>By 
              {% for author in authors %}
                {% assign author_parts = author | strip | split: ":" %}
                {% assign author_name = author_parts[0] %}
                <a href="https://retroachievements.org/user/{{ author_name }}">{{ author_name }}</a>{% unless forloop.last %}, {% endunless %}
              {% endfor %}.
            </span>
          </div>
          {% endif %}
        </header>

        {% if page.toc %}
        <div id="toc" class="toc-container {% if page.toc_float %}toc-float{% endif %}">
          <p class="toc-title">Contents</p>
          {% include toc.html html=content %}
        </div>
        {% endif %}

        {{ content }}

      </article>
      <footer>
        {% include previous-next-links.html %}
      </footer>
    </main>
  </div>

</body>

</html>